<!-- <section class="banner"></section>Banner: Deberá tener un banner que te represente, que será una parte importante
       de tu identidad.  -->

<div class="card mb-3 card0">
  <div class="">
    <div class="cards">
      <img
        src="..\assets\images\banner.jpg"
        class="card-img-top banner"
        alt="..."
      />
      <img
        src="..\assets\images\fotoperfil.jpeg"
        class="fotoperfil"
        alt="..."
      />
    </div>
  </div>

  <div class="card-body card1">
    <h5 class="card-title cardname">Mario Orostizaga</h5>
    <p class="card-text card2 cardname2">Full Stack Developer Jr</p>
    <p class="card-text">
      <small class="text-muted"></small>
    </p>
  </div>
</div>
