.body {
  margin: 10px;
}

.card-img-top {
  position: relative;
  border-radius: 300px;
  margin: 10px;
}

.a {
  width: 300px;
  height: 300px;
}

.card0 {
  padding: 10px;
  padding-right: 20px;
}

.fotoperfil {
  border-radius: 1000px;
  width: 20%;
  position: absolute;
  margin: 10px;
  bottom: 350px;
}

.card1 {
  border-color: white;
  border: 0px;
}

.card2 {
  padding: 15px;
}

.cardname {
  font-weight: bolder;
  font-size: 30px;
}

.cardname2 {
  font-weight: bold;
  font-size: 20px;
}

.button {
  border-color: blue;
  color: blue;
  --bs-success: blue;
  --bs-green: blue;
}
.imgporc {
  padding: 100px;
}

.imgcarrusel {
  margin: 20px;
}
