<!-- Hard & Soft Skills: Con unaforma de visualización atractiva (por ejemplo: porcentajes) mostrarás tu grado
  de dominio dehabilidades duras y blandas. Podéstambién generar una sección adicional contu nivel
  de idiomas.
  -->

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="#"
          >Hard & Soft Skills</a
        >
      </li>
    </ul>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-4 card2">
    <div class="col">
      <div class="card h-100">
        <img
          src="..\assets\images\30.jpg"
          class="card-img-top imgporc"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Html</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="..\assets\images\30.jpg"
          class="card-img-top imgporc"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">CSS</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="..\assets\images\20.jpg"
          class="card-img-top imgporc"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">JavaScript</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="..\assets\images\20.jpg"
          class="card-img-top imgporc"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Base de datos y Github</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
