<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div
        class="modal-header"
        style="background-color: #0d6efd; border-color: #0d6efd; color: #fff"
      >
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          data-backdrop="false"
          routerLink=""
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">User:</label>
            <input type="text" class="form-control" id="recipient-name" />
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Pasword:</label>
            <input type="text" class="form-control" id="recipient-name" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          routerLink=""
        >
          Close
        </button>
        <button type="button" class="btn btn-primary" routerLink="/edit-page">
          Send
        </button>
      </div>
    </div>
  </div>
</div>
