<!-- Header: En la parte superior izquierda deberá contener el logo y nombre del
          programa Argentina Programa - #YoProgramo.En la parte superior derecha deberá contar con tus redes sociales y un botón 
        que permita el login para la edición.-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/">
      <img
        src="..\assets\images\logoarprog.jpeg"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      Argentina Programa - #YoProgramo
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item dropdown">
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
        <li class="nav-item"></li>
      </ul>

      <form class="d-flex">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="https://www.linkedin.com/in/mario-orostizaga-5a0a4b1a3"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/mar______io"
              ><i class="fab fa-instagram-square"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/blanco.cosmico"
              ><i class="fab fa-facebook-square"></i
            ></a>
          </li>
          <!-- <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li> -->
        </ul>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          data-bs-whatever="@mdo"
          routerLink="/login-page"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</nav>
