<body class="body">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/">
        <img
          src="..\assets\images\logoarprog.jpeg"
          alt=""
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        Argentina Programa - #YoProgramo
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"></li>
          <li class="nav-item"></li>
          <li class="nav-item dropdown">
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
          <li class="nav-item"></li>
        </ul>

        <form class="d-flex">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="https://www.linkedin.com/in/mario-orostizaga-5a0a4b1a3"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/mar______io"
                ><i class="fab fa-instagram-square"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/blanco.cosmico"
                ><i class="fab fa-facebook-square"></i
              ></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li> -->
          </ul>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-bs-whatever="@mdo"
            routerLink="/"
          >
            Logout
          </button>
        </form>
      </div>
    </div>
  </nav>

  <!-- Header: En la parte superior izquierda deberá contener el logo y nombre del
          programa Argentina Programa - #YoProgramo.En la parte superior derecha deberá contar con tus redes sociales y un botón 
        que permita el login para la edición.-->

  <div class="card mb-3 card0">
    <div class="">
      <div class="cards">
        <img
          src="..\assets\images\banner.jpg"
          class="card-img-top banner"
          alt="..."
        />
        <img
          src="..\assets\images\fotoperfil.jpeg"
          class="fotoperfil"
          alt="..."
        />
      </div>
    </div>

    <div class="card-body card1">
      <h5 class="card-title cardname">Mario Orostizaga</h5>
      <p class="card-text card2 cardname2">Full Stack Developer Jr</p>
      <p class="card-text">
        <small class="text-muted"></small>
      </p>
    </div>
  </div>

  <!-- <section class="banner"></section>Banner: Deberá tener un banner que te represente, que será una parte importante
       de tu identidad.  -->

  <div class="card text-center">
    <div class="card-header card1">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#"
            >Acerca de ...</a
          >
        </li>
      </ul>
    </div>
    <div class="card card1">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            Soy profe de Letras egresado de la UNMdP. Me encanta la música, el
            cine y viajar. Estoy transformando mi vida y mi profesión al ámbito
            It.
          </p>
          <footer class="blockquote-footer">
            <br />
            <br />
            El gran motor del cambio es la tecnología
            <cite title="Source Title">Alvin Toffler</cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
  <!-- Acerca de…: En esta sección se encuentra tu foto de perfil, nombre y título (Full Stack Developer
Jr). Aquí debés poner tu información profesional resumida.-->

  <div class="card text-center">
    <div class="card-header card1">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#"
            >Experiencia</a
          >
        </li>
      </ul>
    </div>
    <div class="card-body card1">
      <br />
      <h5 class="card-title">
        Como desarrollador
        <img src="..\assets\images\desarrollador.webp" class="card-img-top a" />
      </h5>
      <p class="card-text"></p>
      <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
          viewBox="0 0 16 16"
          role="img"
          aria-label="Warning:"
        >
          <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
          />
        </svg>
        <br />
        <br />
        <div>
          Por el momento no tengo experiencia laboral. Tu puedes contratarme!
        </div>
      </div>

      <a
        href="#"
        class="btn btn-primary"
        id="botonContratame"
        onclick="botonContratame();"
        value="Confirmar"
        >Ver</a
      >
    </div>
    <hr />
    <div class="card-body">
      <h5 class="card-title">
        Como profesor
        <img src="..\assets\images\profesor.png" class="card-img-top a" />
      </h5>
      <p class="card-text"></p>
      <p>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#multiCollapseExample1"
          role="button"
          aria-expanded="false"
          aria-controls="multiCollapseExample1"
          >Ver</a
        >
      </p>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
              Trabajo como docente de Prácticas del lenguaje en el nivel medio
              hace mas de 12 años. Actualemnte me desempeño como profesor de
              Psicolingüística en un ISFDYT.
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Experiencia: Aquí colocarás toda la información de los lugares donde has trabajado, incluyendo título del puesto,
periodo, logo de la empresa, si lo encontrás, y descripción de las actividades realizadas en ese puesto.
-->
    <div class="card text-center">
      <div class="card-header card1">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active card1" aria-current="true" href="#"
              >Educación</a
            >
          </li>
        </ul>
      </div>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Tecnicatura
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Este año comienzo la Tecnicatura universitaria en programación de
              la
              <a
                href="https://mdp.utn.edu.ar/tecnicatura/tecnico_universitario_en_programacion/"
              >
                UTN</a
              >
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              Cursos
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              He relizado multiples
              <a
                href="https://www.linkedin.com/in/mario-orostizaga-5a0a4b1a3/details/certifications/"
                >cursos</a
              >
              sobre diferentes lenguajes, librerias, frameworks y metodologías
              de trabajo en varias plataformas virtuales entre los que se
              incluyen: Html, CSS, JavaScript, Python, React, Vue, Firebase,
              Scrum y Kanban. Ahora estoy cursando Argentina Programa - #Yo
              programo.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              Grado y posgrado
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Soy
              <a
                href="https://registrograduados.siu.edu.ar/consulta.php?ah=st61c60d666d7ba5.65609544&ai=registro_dngu%7C%7C92000001&tcm=popup&id_tramite=647901&sistema=sidcer&id_tipo_documento=DNI&documento=30450890&tipo_y_documento=Documento%20Nacional%20de%20Identidad%2030450890&fecha_egreso=2020-12-18&nombre_apellido=OROSTIZAGA%2C%20MARIO%20ALEJANDRO&apellido=OROSTIZAGA&nombre=MARIO%20ALEJANDRO&nacionalidad=ARGENTINA&institucion=Universidad%20Nacional%20de%20Mar%20del%20Plata&titulo=Profesor%20en%20Letras&blockchain=blockchain_logo_negro.png&tm=1"
                >Profesor en Letras</a
              >
              egrasado de la UNMdP y estoy terminando un posgrado en Enseñanza
              de Español como Segunda Lengua en la UNLP
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Educación: Escribir toda la información de tu formación académica, certificaciones, cursos,
y todo lo relacionado al título con que actualmente contás. Es importante detallar la información de la
institución, el logo (de ser posible), nombre, carrera o título estudiado, y en qué periodo o año
-->

    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="#"
              >Hard & Soft Skills</a
            >
          </li>
        </ul>
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-4 card2">
        <div class="col">
          <div class="card h-100">
            <img
              src="..\assets\images\30.jpg"
              class="card-img-top imgporc"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Html</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="..\assets\images\30.jpg"
              class="card-img-top imgporc"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">CSS</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="..\assets\images\20.jpg"
              class="card-img-top imgporc"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">JavaScript</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="..\assets\images\10.jpg"
              class="card-img-top imgporc"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Base de datos y Github</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Hard & Soft Skills: Con unaforma de visualización atractiva (por ejemplo: porcentajes) mostrarás tu grado
de dominio dehabilidades duras y blandas. Podéstambién generar una sección adicional contu nivel
de idiomas.
-->
    <div class="card text-center">
      <div class="card-header card1">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="#"
              >Proyectos</a
            >
          </li>
        </ul>
      </div>

      <div
        id="carouselExampleDark"
        class="carousel carousel-dark slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div
            class="carousel-item active imgcarrusel"
            data-bs-interval="10000"
          >
            <img
              src="..\assets\images\Proyectos SummerHack.png"
              class="d-block w-100 imgcarrusel"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Proyectos SummerHack</h5>
              <p>
                En el verano 2021 realicé una serie de trabajas prácticos en un
                cusro sobre Front End
              </p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="..\assets\images\Proyectos en React.png"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Proyectos en React</h5>
              <p>
                A partir de dicho curso empecé a realizar varios proyectos para
                interiorizarme en React
              </p>
            </div>
          </div>
          <div class="carousel-item imgcarrusel">
            <img
              src="..\assets\images\Portfolio Argentina programa.png"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5 class="texto1">Portfolio Argentina programa</h5>
              <p class="texto1">
                Actualmente me encuentro trabajando con Angular para realizar
                este proyecto
              </p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <!-- Proyectos: En esta sección deberá encontrarse la información sobre los proyectos que desarrollaste o en que
te involucraste, incluyendo este portfolio web. Cada proyecto deberá contener el nombre, fecha de realización,
descripción y el link a su evidencia. Además, podés ilustrar esta sección con imágenes de los proyectos.
--></body>
