<!-- Proyectos: En esta sección deberá encontrarse la información sobre los proyectos que desarrollaste o en que
  te involucraste, incluyendo este portfolio web. Cada proyecto deberá contener el nombre, fecha de realización,
  descripción y el link a su evidencia. Además, podés ilustrar esta sección con imágenes de los proyectos.
  -->

<div class="card text-center">
  <div class="card-header card1">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="#">Proyectos</a>
      </li>
    </ul>
  </div>

  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active imgcarrusel" data-bs-interval="10000">
        <img
          src="..\assets\images\Proyectos SummerHack.png"
          class="d-block w-100 imgcarrusel"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Proyectos SummerHack</h5>
          <p>
            En el verano 2021 realicé una serie de trabajos prácticos en un
            cusro sobre Front End
          </p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="..\assets\images\Proyectos en React.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Proyectos en React</h5>
          <p>
            A partir de dicho curso empecé a realizar varios proyectos para
            interiorizarme en React
          </p>
        </div>
      </div>
      <div class="carousel-item imgcarrusel">
        <img
          src="..\assets\images\Portfolio Argentina programa.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5 class="texto1">Portfolio Argentina programa</h5>
          <p class="texto1">
            Actualmente me encuentro trabajando con Angular para realizar este
            proyecto
          </p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
