<!-- Acerca de…: En esta sección se encuentra tu foto de perfil, nombre y título (Full Stack Developer
Jr). Aquí debés poner tu información profesional resumida.-->

<div class="card text-center">
  <div class="card-header card1">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="#"
          >Acerca de ...</a
        >
      </li>
    </ul>
  </div>
  <div class="card card1">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>
          Soy profe de Letras egresado de la UNMdP. Me encanta la música, el
          cine y viajar. Estoy transformando mi vida y mi profesión al ámbito
          It.
        </p>
        <footer class="blockquote-footer">
          <br />
          <br />
          El gran motor del cambio es la tecnología
          <cite title="Source Title">Alvin Toffler</cite>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
